@charset "UTF-8";
/* Global
------------------------------------------------------------ */
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap");
/* Base */
body {
  color: #444;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 18px;
  line-height: 1.6;
  word-wrap: break-word;
}

body:lang(ja) {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.8;
}

h1,
h2,
h3,
h4,
h5,
h6,
.site-title {
  font-family: 'Noto Sans JP', sans-serif !important;
}

::-moz-selection {
  background-color: #def;
}

::selection {
  background-color: #def;
}

@media screen and (min-width: 782px) {
  body {
    font-size: 19px;
  }
  body:lang(ja) {
    font-size: 16px;
  }
}

@media screen and (min-width: 980px) {
  body {
    font-size: 20px;
  }
  body:lang(ja) {
    font-size: 17px;
  }
}

/* Heading */
h1,
h2,
h3,
h4,
h5,
h6,
.site-title {
  clear: both;
  color: #111;
  font-weight: 700;
  line-height: 1.5;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 1em;
  margin-top: 2em;
}

h2 {
  font-size: 1.75rem;
  margin-bottom: 1.5em;
  margin-top: 3em;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 1em;
  margin-top: 2.5em;
}

h4 {
  font-size: 1.25rem;
  margin-bottom: 1em;
  margin-top: 2em;
}

h5 {
  font-size: 1.125rem;
  margin-bottom: 0.5em;
  margin-top: 1.5em;
}

h6 {
  font-size: 1rem;
  margin-bottom: 0.5em;
  margin-top: 1em;
}

/* Link */
a {
  color: #4693f5;
  text-decoration: underline;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
  cursor: pointer;
}

cite a,
cite a {
  text-decoration: none;
}

/* Text */
p {
  margin: 0 0 1.8em;
}

b,
strong {
  font-weight: 700;
}

dfn,
em,
i {
  font-style: italic;
}

q {
  quotes: "" "";
}

cite {
  border-bottom: dotted 1px #999;
  font-style: normal;
}

code,
kbd,
tt,
var {
  background-color: #f4f5f6;
  color: #666;
  font-family: "Noto Sans JP", Consolas, monospace;
  font-size: 90%;
}

abbr,
acronym {
  border-bottom: 1px dotted #999;
  cursor: help;
}

mark,
ins {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(70%, transparent), color-stop(70%, #ffff66));
  background: linear-gradient(transparent 70%, #ffff66 70%);
  text-decoration: none;
}

ins.adsbygoogle {
  background-color: transparent;
}

/* List */
ul,
ol {
  margin: 0 0 1.8em 1.5em;
  padding: 0;
}

li > ul,
li > ol {
  margin-bottom: 0;
}

dl {
  margin: 0;
}

dt {
  font-weight: 600;
  margin-bottom: 0.5em;
}

dd {
  margin: 0 0 1.8em 1.5em;
}

/* Table */
table {
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 90%;
  margin: 0 0 1.8em;
  width: 100%;
}

caption {
  margin-bottom: 0.6em;
}

table th,
table td {
  border: solid 1px #eee;
  padding: 1em 1.2em;
}

th {
  background-color: #f4f5f6;
  font-weight: 600;
  text-align: left;
}

/* Elements */
blockquote {
  color: #666;
  margin: 0 0 2em;
  padding: 12px 0 0 44px !important;
  position: relative;
}

blockquote:before {
  color: #ddd;
  content: "\201C";
  font-family: Georgia, serif;
  font-size: 84px;
  left: -5px;
  line-height: 1;
  position: absolute;
  top: -5px;
}

blockquote p {
  margin-bottom: 0.8em;
}

blockquote cite {
  font-size: 90%;
}

address {
  margin: 0 0 1.8em;
  font-style: normal;
}

pre {
  background-color: #f4f5f6;
  color: #666;
  font-family: "Noto Sans JP", Consolas, monospace;
  font-size: 90%;
  line-height: 1.4;
  margin: 0 0 1.7em;
  max-width: 100%;
  overflow: auto;
  padding: 1.5em;
  word-wrap: normal;
}

hr {
  background-color: #eee;
  border: 0;
  height: 2px;
  margin: 1.8em auto;
}

.wp-block-separator:not(.is-style-wide):not(.is-style-dots) {
  max-width: 100px;
}

/* Media */
img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

figure {
  margin: 0;
}

embed,
iframe,
object {
  max-width: 100%;
}

/* Form */
button,
input,
input[type="search"],
select,
textarea {
  background-color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1.6;
  max-width: 100%;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  background-color: #333;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 90%;
  line-height: 1;
  padding: 1.1em 1.5em;
  text-transform: uppercase;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

button:hover,
button:focus,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
  background-color: #555;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
  border: solid 1px #e6e6e6;
  color: #333;
  margin-top: 0.6em;
  padding: 0.6em;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
  color: #444;
}

input[type="file"] {
  margin-top: 0.6em;
}

select {
  border: solid 1px #e6e6e6;
  margin-top: 0.6em;
  padding: 0.6em;
}

textarea {
  max-width: 720px;
  width: 100%;
}

input[type="tel"] {
  direction: ltr;
  border: 1px solid #eee;
  padding: 10px;
}

input::-webkit-input-placeholder {
  color: #ccc;
}

input:-ms-input-placeholder {
  color: #ccc;
}

input::-ms-input-placeholder {
  color: #ccc;
}

input::placeholder {
  color: #ccc;
}

textarea::-webkit-input-placeholder {
  color: #ccc;
}

textarea:-ms-input-placeholder {
  color: #ccc;
}

textarea::-ms-input-placeholder {
  color: #ccc;
}

textarea::placeholder {
  color: #ccc;
}

/* navi */
.sub_img:before {
  background: #fff !important;
}

.sub_menu a {
  color: #000 !important;
  font-size: 24px;
  font-weight: 700;
  font-family: 'Open Sans';
  display: inline-block;
  padding: 6px 0;
}

.line_button_on span {
  -webkit-animation: line_button_on0 .75s ease-in-out forwards;
          animation: line_button_on0 .75s ease-in-out forwards;
}

@-webkit-keyframes line_button_on0 {
  0%,
  100% {
    left: 0;
    opacity: 1;
  }
  48% {
    left: 100%;
    opacity: 1;
  }
  49% {
    left: 100%;
    opacity: 0;
  }
  51% {
    left: -100%;
    opacity: 0;
  }
  52% {
    left: -100%;
    opacity: 1;
  }
}

@keyframes line_button_on0 {
  0%,
  100% {
    left: 0;
    opacity: 1;
  }
  48% {
    left: 100%;
    opacity: 1;
  }
  49% {
    left: 100%;
    opacity: 0;
  }
  51% {
    left: -100%;
    opacity: 0;
  }
  52% {
    left: -100%;
    opacity: 1;
  }
}

.line_button_off span {
  -webkit-animation: line_button_off0 .75s ease-in-out forwards;
          animation: line_button_off0 .75s ease-in-out forwards;
}

@-webkit-keyframes line_button_off0 {
  0%,
  100% {
    left: 0;
    opacity: 1;
  }
  48% {
    left: 100%;
    opacity: 1;
  }
  49% {
    left: 100%;
    opacity: 0;
  }
  51% {
    left: -100%;
    opacity: 0;
  }
  52% {
    left: -100%;
    opacity: 1;
  }
}

@keyframes line_button_off0 {
  0%,
  100% {
    left: 0;
    opacity: 1;
  }
  48% {
    left: 100%;
    opacity: 1;
  }
  49% {
    left: 100%;
    opacity: 0;
  }
  51% {
    left: -100%;
    opacity: 0;
  }
  52% {
    left: -100%;
    opacity: 1;
  }
}

.faq_on .faq_icon {
  -webkit-animation: faq_on0 .5s ease-in-out forwards;
          animation: faq_on0 .5s ease-in-out forwards;
}

@-webkit-keyframes faq_on0 {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@keyframes faq_on0 {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

.faq_on .faq_icon > div:nth-child(2) span {
  -webkit-animation: faq_on1 .5s ease-in-out forwards;
          animation: faq_on1 .5s ease-in-out forwards;
}

@-webkit-keyframes faq_on1 {
  0%,
  100% {
    left: 0;
    opacity: 1;
  }
  49% {
    left: -100%;
    opacity: 0;
  }
  51% {
    left: 100%;
    opacity: 0;
  }
}

@keyframes faq_on1 {
  0%,
  100% {
    left: 0;
    opacity: 1;
  }
  49% {
    left: -100%;
    opacity: 0;
  }
  51% {
    left: 100%;
    opacity: 0;
  }
}

.faq_on .faq_icon > div:nth-child(1) span {
  -webkit-animation: faq_on2 .5s ease-in-out forwards;
          animation: faq_on2 .5s ease-in-out forwards;
}

@-webkit-keyframes faq_on2 {
  0%,
  100% {
    left: 0;
    opacity: 1;
  }
  49% {
    left: -100%;
    opacity: 0;
  }
  51% {
    left: 100%;
    opacity: 0;
  }
}

@keyframes faq_on2 {
  0%,
  100% {
    left: 0;
    opacity: 1;
  }
  49% {
    left: -100%;
    opacity: 0;
  }
  51% {
    left: 100%;
    opacity: 0;
  }
}

.faq_off .faq_icon {
  -webkit-animation: faq_off0 .5s ease-in-out forwards;
          animation: faq_off0 .5s ease-in-out forwards;
}

@-webkit-keyframes faq_off0 {
  0% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  100% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

@keyframes faq_off0 {
  0% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  100% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

.faq_off .faq_icon > div:nth-child(2) span {
  -webkit-animation: faq_off1 .5s ease-in-out forwards;
          animation: faq_off1 .5s ease-in-out forwards;
}

@-webkit-keyframes faq_off1 {
  0%,
  100% {
    left: 0;
    opacity: 1;
  }
  49% {
    left: -100%;
    opacity: 0;
  }
  51% {
    left: 100%;
    opacity: 0;
  }
}

@keyframes faq_off1 {
  0%,
  100% {
    left: 0;
    opacity: 1;
  }
  49% {
    left: -100%;
    opacity: 0;
  }
  51% {
    left: 100%;
    opacity: 0;
  }
}

.faq_off .faq_icon > div:nth-child(1) span {
  -webkit-animation: faq_off2 .5s ease-in-out forwards;
          animation: faq_off2 .5s ease-in-out forwards;
}

@-webkit-keyframes faq_off2 {
  0%,
  100% {
    left: 0;
    opacity: 1;
  }
  49% {
    left: -100%;
    opacity: 0;
  }
  51% {
    left: 100%;
    opacity: 0;
  }
}

@keyframes faq_off2 {
  0%,
  100% {
    left: 0;
    opacity: 1;
  }
  49% {
    left: -100%;
    opacity: 0;
  }
  51% {
    left: 100%;
    opacity: 0;
  }
}

.popup_on {
  -webkit-animation: popup_on0 .5s ease-in-out forwards;
          animation: popup_on0 .5s ease-in-out forwards;
}

@-webkit-keyframes popup_on0 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes popup_on0 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.popup_on .popup_close {
  -webkit-animation: popup_on1 .5s ease-in-out .25s forwards;
          animation: popup_on1 .5s ease-in-out .25s forwards;
}

@-webkit-keyframes popup_on1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5) translate3d(0, 0, 0);
            transform: scale(0.5) translate3d(0, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1) translate3d(0, 0, 0);
            transform: scale(1) translate3d(0, 0, 0);
  }
}

@keyframes popup_on1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5) translate3d(0, 0, 0);
            transform: scale(0.5) translate3d(0, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1) translate3d(0, 0, 0);
            transform: scale(1) translate3d(0, 0, 0);
  }
}

.popup_on .popup_close > div > div:nth-child(1) span {
  -webkit-animation: popup_on2 375ms ease-in-out .75s forwards;
          animation: popup_on2 375ms ease-in-out .75s forwards;
}

@-webkit-keyframes popup_on2 {
  0% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}

@keyframes popup_on2 {
  0% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}

.popup_on .popup_close > div > div:nth-child(2) span {
  -webkit-animation: popup_on3 375ms ease-in-out 1s forwards;
          animation: popup_on3 375ms ease-in-out 1s forwards;
}

@-webkit-keyframes popup_on3 {
  0% {
    left: 100%;
  }
  100% {
    left: 0;
  }
}

@keyframes popup_on3 {
  0% {
    left: 100%;
  }
  100% {
    left: 0;
  }
}

.popup_on .popup_block {
  -webkit-animation: popup_on4 .75s ease-in-out .5s forwards;
          animation: popup_on4 .75s ease-in-out .5s forwards;
}

@-webkit-keyframes popup_on4 {
  0% {
    opacity: 0;
    -webkit-transform: scale(1.05) translate(0, 50px) skew(0deg, -2.5deg);
            transform: scale(1.05) translate(0, 50px) skew(0deg, -2.5deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1) translate(0, 0) skew(0deg, 0deg);
            transform: scale(1) translate(0, 0) skew(0deg, 0deg);
  }
}

@keyframes popup_on4 {
  0% {
    opacity: 0;
    -webkit-transform: scale(1.05) translate(0, 50px) skew(0deg, -2.5deg);
            transform: scale(1.05) translate(0, 50px) skew(0deg, -2.5deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1) translate(0, 0) skew(0deg, 0deg);
            transform: scale(1) translate(0, 0) skew(0deg, 0deg);
  }
}

.popup_off {
  -webkit-animation: popup_off0 .5s ease-in-out forwards;
          animation: popup_off0 .5s ease-in-out forwards;
}

@-webkit-keyframes popup_off0 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes popup_off0 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.opening .loading_logo div > span:nth-child(1) {
  -webkit-animation: opening_on0 .25s ease-in-out forwards;
          animation: opening_on0 .25s ease-in-out forwards;
}

@-webkit-keyframes opening_on0 {
  0%,
  40%,
  80% {
    opacity: 0;
  }
  100%,
  20%,
  60% {
    opacity: 1;
  }
}

@keyframes opening_on0 {
  0%,
  40%,
  80% {
    opacity: 0;
  }
  100%,
  20%,
  60% {
    opacity: 1;
  }
}

.wrap_on .default .loading_logo div span {
  -webkit-animation: loading_on0 .5s ease-in-out forwards;
          animation: loading_on0 .5s ease-in-out forwards;
}

@-webkit-keyframes loading_on0 {
  0% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}

@keyframes loading_on0 {
  0% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}

.wrap_off .default .loading_logo div > span:nth-child(2) {
  -webkit-animation: loading_off0 .5s ease-in-out forwards;
          animation: loading_off0 .5s ease-in-out forwards;
}

@-webkit-keyframes loading_off0 {
  0% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}

@keyframes loading_off0 {
  0% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}

.wrap_on .loading {
  -webkit-animation: wrap_on0 .75s ease-in-out forwards;
          animation: wrap_on0 .75s ease-in-out forwards;
}

@-webkit-keyframes wrap_on0 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes wrap_on0 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.wrap_on .contents {
  -webkit-animation: wrap_on1 .75s ease-in-out forwards;
          animation: wrap_on1 .75s ease-in-out forwards;
}

@-webkit-keyframes wrap_on1 {
  0% {
    -webkit-transform: translateX(-25px);
            transform: translateX(-25px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes wrap_on1 {
  0% {
    -webkit-transform: translateX(-25px);
            transform: translateX(-25px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.wrap_off .loading {
  -webkit-animation: wrap_off0 .75s ease-in-out forwards;
          animation: wrap_off0 .75s ease-in-out forwards;
}

@-webkit-keyframes wrap_off0 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes wrap_off0 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.wrap_off .contents,
.wrap_off .footer,
.wrap_off .menu_on .menu_bg,
.wrap_off .menu_on .menu_inner {
  -webkit-animation: wrap_off1 .75s ease-in-out forwards;
          animation: wrap_off1 .75s ease-in-out forwards;
}

@-webkit-keyframes wrap_off1 {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(25px);
            transform: translateX(25px);
  }
}

@keyframes wrap_off1 {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(25px);
            transform: translateX(25px);
  }
}

.detail_slide .slide_on,
.main_slide .slide_on {
  -webkit-animation: slide_on0 2.5s ease-in-out forwards;
          animation: slide_on0 2.5s ease-in-out forwards;
}

@-webkit-keyframes slide_on0 {
  0% {
    opacity: 0;
    -webkit-transform: scale(1.05, 1);
            transform: scale(1.05, 1);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

@keyframes slide_on0 {
  0% {
    opacity: 0;
    -webkit-transform: scale(1.05, 1);
            transform: scale(1.05, 1);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

.main_slide .slide_off div,
.main_slide .slide_on div {
  -webkit-animation: slide_on1 10s linear forwards;
          animation: slide_on1 10s linear forwards;
}

@-webkit-keyframes slide_on1 {
  0% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes slide_on1 {
  0% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.main_loader_line .slide_on path {
  -webkit-animation: slide_on2 6.5s linear forwards;
          animation: slide_on2 6.5s linear forwards;
  stroke-dasharray: 600;
}

@-webkit-keyframes slide_on2 {
  0% {
    stroke-dashoffset: 600;
  }
  100% {
    stroke-dashoffset: 1200;
  }
}

@keyframes slide_on2 {
  0% {
    stroke-dashoffset: 600;
  }
  100% {
    stroke-dashoffset: 1200;
  }
}

.main_loader_text .slide_on {
  -webkit-animation: slide_on3 1.25s ease-in-out 1.25s forwards;
          animation: slide_on3 1.25s ease-in-out 1.25s forwards;
}

@-webkit-keyframes slide_on3 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide_on3 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.main_loader_number_first .slide_on {
  -webkit-animation: slide_on4 1s ease-in-out .85s forwards;
          animation: slide_on4 1s ease-in-out .85s forwards;
}

.main_loader_number_second .slide_on {
  -webkit-animation: slide_on4 1s ease-in-out .75s forwards;
          animation: slide_on4 1s ease-in-out .75s forwards;
}

@-webkit-keyframes slide_on4 {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50%) rotateX(90deg);
            transform: translateY(50%) rotateX(90deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0) rotateX(0);
            transform: translateY(0) rotateX(0);
  }
}

@keyframes slide_on4 {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50%) rotateX(90deg);
            transform: translateY(50%) rotateX(90deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0) rotateX(0);
            transform: translateY(0) rotateX(0);
  }
}

.detail_slide .slide_off,
.main_slide .slide_off {
  -webkit-animation: slide_off0 2.5s ease-in-out forwards;
          animation: slide_off0 2.5s ease-in-out forwards;
}

@-webkit-keyframes slide_off0 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slide_off0 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.main_loader_line .slide_off path {
  -webkit-animation: slide_off2 1s ease-in-out forwards;
          animation: slide_off2 1s ease-in-out forwards;
  stroke-dasharray: 600;
}

@-webkit-keyframes slide_off2 {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 600;
  }
}

@keyframes slide_off2 {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 600;
  }
}

.main_loader_text .slide_off {
  -webkit-animation: slide_off3 1.25s ease-in-out forwards;
          animation: slide_off3 1.25s ease-in-out forwards;
}

@-webkit-keyframes slide_off3 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slide_off3 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.main_loader_number_first .slide_off {
  -webkit-animation: slide_off4 1s ease-in-out .1s forwards;
          animation: slide_off4 1s ease-in-out .1s forwards;
}

.main_loader_number_second .slide_off {
  -webkit-animation: slide_off4 1s ease-in-out forwards;
          animation: slide_off4 1s ease-in-out forwards;
}

@-webkit-keyframes slide_off4 {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0) rotateX(0);
            transform: translateY(0) rotateX(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-50%) rotateX(90deg);
            transform: translateY(-50%) rotateX(90deg);
  }
}

@keyframes slide_off4 {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0) rotateX(0);
            transform: translateY(0) rotateX(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-50%) rotateX(90deg);
            transform: translateY(-50%) rotateX(90deg);
  }
}

.wrap_on .main_loader_line .main_loader_line_shadow path {
  -webkit-animation: home0 1.5s ease-in-out forwards;
          animation: home0 1.5s ease-in-out forwards;
  stroke-dasharray: 600;
}

@-webkit-keyframes home0 {
  0% {
    stroke-dashoffset: 600;
    stroke: #e6e6e6;
  }
  50% {
    stroke-dashoffset: 1200;
    stroke: rgba(230, 230, 230, 0.5);
  }
  100% {
    stroke-dashoffset: 1200;
    stroke: rgba(255, 255, 255, 0.25);
  }
}

@keyframes home0 {
  0% {
    stroke-dashoffset: 600;
    stroke: #e6e6e6;
  }
  50% {
    stroke-dashoffset: 1200;
    stroke: rgba(230, 230, 230, 0.5);
  }
  100% {
    stroke-dashoffset: 1200;
    stroke: rgba(255, 255, 255, 0.25);
  }
}

.wrap_on .main_copy div,
.wrap_on .main_title div {
  -webkit-animation: home1 .75s ease-in-out forwards;
          animation: home1 .75s ease-in-out forwards;
}

@-webkit-keyframes home1 {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes home1 {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.wrap_on .main_loader_text .slide_on p {
  -webkit-animation: home2 1.5s ease-in-out forwards;
          animation: home2 1.5s ease-in-out forwards;
}

@-webkit-keyframes home2 {
  0% {
    color: rgba(230, 230, 230, 0);
  }
  50% {
    color: #e6e6e6;
  }
  100% {
    color: white;
  }
}

@keyframes home2 {
  0% {
    color: rgba(230, 230, 230, 0);
  }
  50% {
    color: #e6e6e6;
  }
  100% {
    color: white;
  }
}

.wrap_on .main_loader_number .slide_on path {
  -webkit-animation: home3 1.5s ease-in-out forwards;
          animation: home3 1.5s ease-in-out forwards;
}

@-webkit-keyframes home3 {
  0% {
    fill: #e6e6e6;
  }
  100% {
    fill: white;
  }
}

@keyframes home3 {
  0% {
    fill: #e6e6e6;
  }
  100% {
    fill: white;
  }
}

.wrap_on .main_loader_line_form {
  -webkit-animation: home4 .5s ease-in-out 1s forwards;
          animation: home4 .5s ease-in-out 1s forwards;
}

@-webkit-keyframes home4 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes home4 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.wrap_on .contents_scroll div {
  -webkit-animation: home5 1s ease-in-out 1s forwards;
          animation: home5 1s ease-in-out 1s forwards;
}

@-webkit-keyframes home5 {
  0% {
    height: 0%;
  }
  100% {
    height: 100%;
  }
}

@keyframes home5 {
  0% {
    height: 0%;
  }
  100% {
    height: 100%;
  }
}

.wrap_off .contents_scroll div span,
.wrap_on .contents_scroll div span {
  -webkit-animation: home6 2.5s ease-in-out 2s infinite;
          animation: home6 2.5s ease-in-out 2s infinite;
}

@-webkit-keyframes home6 {
  0% {
    top: 0;
    opacity: 0;
  }
  15%,
  55% {
    opacity: 1;
  }
  100%,
  70% {
    top: 90%;
    opacity: 0;
  }
}

@keyframes home6 {
  0% {
    top: 0;
    opacity: 0;
  }
  15%,
  55% {
    opacity: 1;
  }
  100%,
  70% {
    top: 90%;
    opacity: 0;
  }
}

.wrap_on .contents_copy p,
.wrap_on .main_copy div p,
.wrap_on .main_title div p {
  -webkit-animation: home7 1.5s ease-in-out forwards;
          animation: home7 1.5s ease-in-out forwards;
}

@-webkit-keyframes home7 {
  0% {
    color: rgba(230, 230, 230, 0);
  }
  100% {
    color: #323232;
  }
}

@keyframes home7 {
  0% {
    color: rgba(230, 230, 230, 0);
  }
  100% {
    color: #323232;
  }
}

.wrap_on .main_logo path {
  -webkit-animation: home8 1.5s ease-in-out forwards;
          animation: home8 1.5s ease-in-out forwards;
}

@-webkit-keyframes home8 {
  0% {
    fill: rgba(230, 230, 230, 0);
  }
  100% {
    fill: #009f41;
  }
}

@keyframes home8 {
  0% {
    fill: rgba(230, 230, 230, 0);
  }
  100% {
    fill: #009f41;
  }
}

.slide_first .main_slide .slide_on,
.wrap_on .main_img div {
  -webkit-animation: home9 1.125s ease-in-out 375ms forwards;
          animation: home9 1.125s ease-in-out 375ms forwards;
}

@-webkit-keyframes home9 {
  0% {
    opacity: 0;
    -webkit-transform: scale(1.025);
            transform: scale(1.025);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes home9 {
  0% {
    opacity: 0;
    -webkit-transform: scale(1.025);
            transform: scale(1.025);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.slide_first .main_loader_number_first .slide_on {
  -webkit-animation: slide_on4 .75s ease-in-out .1s forwards;
          animation: slide_on4 .75s ease-in-out .1s forwards;
}

.slide_first .main_loader_number_second .slide_on {
  -webkit-animation: slide_on4 .75s ease-in-out 0s forwards;
          animation: slide_on4 .75s ease-in-out 0s forwards;
}

.wrap_on .main_title > img:nth-child(1) {
  -webkit-animation: lower0 375ms ease-in-out 475ms forwards;
          animation: lower0 375ms ease-in-out 475ms forwards;
}

.wrap_on .main_title > img:nth-child(2) {
  -webkit-animation: lower0 375ms ease-in-out 375ms forwards;
          animation: lower0 375ms ease-in-out 375ms forwards;
}

@-webkit-keyframes lower0 {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50%) rotateX(90deg);
            transform: translateY(50%) rotateX(90deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0) rotateX(0);
            transform: translateY(0) rotateX(0);
  }
}

@keyframes lower0 {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50%) rotateX(90deg);
            transform: translateY(50%) rotateX(90deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0) rotateX(0);
            transform: translateY(0) rotateX(0);
  }
}

.wrap_on .contents_copy span {
  -webkit-animation: lower1 .75s ease-in-out forwards;
          animation: lower1 .75s ease-in-out forwards;
}

@-webkit-keyframes lower1 {
  0% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}

@keyframes lower1 {
  0% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}

.wrap_on .header_off .header_button_inner > div:nth-child(2) > div:nth-child(1) span span {
  -webkit-animation: header_button_off0 2.5s ease-in-out 0s infinite;
          animation: header_button_off0 2.5s ease-in-out 0s infinite;
}

.wrap_on .header_off .header_button_inner > div:nth-child(2) > div:nth-child(2) span span {
  -webkit-animation: header_button_off0 2.5s ease-in-out .15s infinite;
          animation: header_button_off0 2.5s ease-in-out .15s infinite;
}

.wrap_on .header_off .header_button_inner > div:nth-child(2) > div:nth-child(3) span span {
  -webkit-animation: header_button_off0 2.5s ease-in-out .3s infinite;
          animation: header_button_off0 2.5s ease-in-out .3s infinite;
}

@-webkit-keyframes header_button_off0 {
  0%,
  100%,
  65% {
    left: 0;
    opacity: 1;
  }
  80% {
    left: 100%;
    opacity: 0;
  }
  85% {
    left: -100%;
    opacity: 0;
  }
}

@keyframes header_button_off0 {
  0%,
  100%,
  65% {
    left: 0;
    opacity: 1;
  }
  80% {
    left: 100%;
    opacity: 0;
  }
  85% {
    left: -100%;
    opacity: 0;
  }
}

.header_fix .header_button_bg {
  -webkit-animation: header_fix0 375ms ease-in-out forwards;
          animation: header_fix0 375ms ease-in-out forwards;
}

@-webkit-keyframes header_fix0 {
  0% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes header_fix0 {
  0% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

.header_fix .header_button_inner > div:nth-child(2) {
  -webkit-animation: header_fix1 375ms ease-in-out .1875s forwards;
          animation: header_fix1 375ms ease-in-out .1875s forwards;
}

@-webkit-keyframes header_fix1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes header_fix1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.header_nofix .header_button_bg {
  -webkit-animation: header_nofix0 375ms ease-in-out forwards;
          animation: header_nofix0 375ms ease-in-out forwards;
}

@-webkit-keyframes header_nofix0 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    opacity: 0;
  }
}

@keyframes header_nofix0 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    opacity: 0;
  }
}

.header_on .header_button_bg div {
  -webkit-animation: header_on0 375ms ease-in-out forwards;
          animation: header_on0 375ms ease-in-out forwards;
}

@-webkit-keyframes header_on0 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    opacity: 0;
  }
}

@keyframes header_on0 {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    opacity: 0;
  }
}

.header_on .header_button_inner > div:nth-child(2) > div:nth-child(1) {
  -webkit-animation: header_on1 .75s ease-in-out forwards;
          animation: header_on1 .75s ease-in-out forwards;
}

@-webkit-keyframes header_on1 {
  0% {
    margin: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  50% {
    margin: 8px 0 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    margin: 8px 0 0;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}

@keyframes header_on1 {
  0% {
    margin: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  50% {
    margin: 8px 0 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    margin: 8px 0 0;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}

.header_on .header_button_inner > div:nth-child(2) > div:nth-child(3) {
  -webkit-animation: header_on2 .75s ease-in-out forwards;
          animation: header_on2 .75s ease-in-out forwards;
}

@-webkit-keyframes header_on2 {
  0% {
    margin: 16px 0 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  50% {
    margin: 8px 0 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    margin: 8px 0 0;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@keyframes header_on2 {
  0% {
    margin: 16px 0 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  50% {
    margin: 8px 0 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    margin: 8px 0 0;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

.header_off .header_button_bg div {
  -webkit-animation: header_off0 375ms ease-in-out forwards;
          animation: header_off0 375ms ease-in-out forwards;
}

@-webkit-keyframes header_off0 {
  0% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes header_off0 {
  0% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

.header_off .header_button_inner > div:nth-child(2) > div:nth-child(1) {
  -webkit-animation: header_off1 .75s ease-in-out forwards;
          animation: header_off1 .75s ease-in-out forwards;
}

@-webkit-keyframes header_off1 {
  0% {
    margin: 8px 0 0;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  50% {
    margin: 8px 0 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    margin: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@keyframes header_off1 {
  0% {
    margin: 8px 0 0;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  50% {
    margin: 8px 0 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    margin: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

.header_off .header_button_inner > div:nth-child(2) > div:nth-child(3) {
  -webkit-animation: header_off2 .75s ease-in-out forwards;
          animation: header_off2 .75s ease-in-out forwards;
}

@-webkit-keyframes header_off2 {
  0% {
    margin: 8px 0 0;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  50% {
    margin: 8px 0 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    margin: 16px 0 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@keyframes header_off2 {
  0% {
    margin: 8px 0 0;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  50% {
    margin: 8px 0 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    margin: 16px 0 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

.menu_on .menu_bg,
.menu_on .menu_inner {
  -webkit-animation: menu_on0 .5s ease-in-out forwards;
          animation: menu_on0 .5s ease-in-out forwards;
}

@-webkit-keyframes menu_on0 {
  0% {
    left: 50%;
    background: rgba(255, 255, 255, 0);
  }
  100% {
    left: 0;
    background: white;
  }
}

@keyframes menu_on0 {
  0% {
    left: 50%;
    background: rgba(255, 255, 255, 0);
  }
  100% {
    left: 0;
    background: white;
  }
}

.menu_on .menu_block {
  -webkit-animation: menu_on1 .5s ease-in-out .25s forwards;
          animation: menu_on1 .5s ease-in-out .25s forwards;
}

@-webkit-keyframes menu_on1 {
  0% {
    opacity: 0;
    left: 55%;
  }
  100% {
    opacity: 1;
    left: 50%;
  }
}

@keyframes menu_on1 {
  0% {
    opacity: 0;
    left: 55%;
  }
  100% {
    opacity: 1;
    left: 50%;
  }
}

.menu_on .menu_sns_list {
  -webkit-animation: menu_on2 375ms ease-in-out 375ms forwards;
          animation: menu_on2 375ms ease-in-out 375ms forwards;
}

@-webkit-keyframes menu_on2 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes menu_on2 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.menu_off .menu_bg,
.menu_off .menu_inner {
  -webkit-animation: menu_off0 .5s ease-in-out forwards;
          animation: menu_off0 .5s ease-in-out forwards;
}

@-webkit-keyframes menu_off0 {
  0% {
    left: 0;
    background: white;
  }
  100% {
    left: 50%;
    background: rgba(255, 255, 255, 0);
  }
}

@keyframes menu_off0 {
  0% {
    left: 0;
    background: white;
  }
  100% {
    left: 50%;
    background: rgba(255, 255, 255, 0);
  }
}

.menu_off .menu_block {
  -webkit-animation: menu_off1 .5s ease-in-out forwards;
          animation: menu_off1 .5s ease-in-out forwards;
}

@-webkit-keyframes menu_off1 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes menu_off1 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.menu_off .menu_sns_list {
  -webkit-animation: menu_off2 .5s ease-in-out forwards;
          animation: menu_off2 .5s ease-in-out forwards;
}

@-webkit-keyframes menu_off2 {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

@keyframes menu_off2 {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

.menu_block_list_on > img:nth-child(2) {
  -webkit-animation: menu_block_list_on0 .5s ease-in-out forwards;
          animation: menu_block_list_on0 .5s ease-in-out forwards;
}

.menu_block_list_on > img:nth-child(1) {
  -webkit-animation: menu_block_list_on0 .5s ease-in-out .1s forwards;
          animation: menu_block_list_on0 .5s ease-in-out .1s forwards;
}

@-webkit-keyframes menu_block_list_on0 {
  0%,
  100% {
    opacity: 1;
    -webkit-transform: translateY(0) rotateX(0);
            transform: translateY(0) rotateX(0);
  }
  49% {
    opacity: 0;
    -webkit-transform: translateY(-50%) rotateX(90deg);
            transform: translateY(-50%) rotateX(90deg);
  }
  51% {
    opacity: 0;
    -webkit-transform: translateY(50%) rotateX(90deg);
            transform: translateY(50%) rotateX(90deg);
  }
}

@keyframes menu_block_list_on0 {
  0%,
  100% {
    opacity: 1;
    -webkit-transform: translateY(0) rotateX(0);
            transform: translateY(0) rotateX(0);
  }
  49% {
    opacity: 0;
    -webkit-transform: translateY(-50%) rotateX(90deg);
            transform: translateY(-50%) rotateX(90deg);
  }
  51% {
    opacity: 0;
    -webkit-transform: translateY(50%) rotateX(90deg);
            transform: translateY(50%) rotateX(90deg);
  }
}

.menu_block_list_off > img:nth-child(2) {
  -webkit-animation: menu_block_list_off0 .5s ease-in-out forwards;
          animation: menu_block_list_off0 .5s ease-in-out forwards;
}

.menu_block_list_off > img:nth-child(1) {
  -webkit-animation: menu_block_list_off0 .5s ease-in-out .1s forwards;
          animation: menu_block_list_off0 .5s ease-in-out .1s forwards;
}

@-webkit-keyframes menu_block_list_off0 {
  0%,
  100% {
    opacity: 1;
    -webkit-transform: translateY(0) rotateX(0);
            transform: translateY(0) rotateX(0);
  }
  49% {
    opacity: 0;
    -webkit-transform: translateY(-50%) rotateX(90deg);
            transform: translateY(-50%) rotateX(90deg);
  }
  51% {
    opacity: 0;
    -webkit-transform: translateY(50%) rotateX(90deg);
            transform: translateY(50%) rotateX(90deg);
  }
}

@keyframes menu_block_list_off0 {
  0%,
  100% {
    opacity: 1;
    -webkit-transform: translateY(0) rotateX(0);
            transform: translateY(0) rotateX(0);
  }
  49% {
    opacity: 0;
    -webkit-transform: translateY(-50%) rotateX(90deg);
            transform: translateY(-50%) rotateX(90deg);
  }
  51% {
    opacity: 0;
    -webkit-transform: translateY(50%) rotateX(90deg);
            transform: translateY(50%) rotateX(90deg);
  }
}

.scroll_on0 {
  -webkit-animation: scroll_on0 .75s ease-in-out forwards;
          animation: scroll_on0 .75s ease-in-out forwards;
}

@-webkit-keyframes scroll_on0 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes scroll_on0 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.scroll_on1 {
  -webkit-animation: scroll_on1 .75s ease-in-out forwards;
          animation: scroll_on1 .75s ease-in-out forwards;
}

@-webkit-keyframes scroll_on1 {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 25px);
            transform: translate(0, 25px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes scroll_on1 {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 25px);
            transform: translate(0, 25px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

.scroll_on0 > .trans_img,
.scroll_on1 > .trans_img {
  -webkit-animation: scroll_on2 .75s ease-in-out forwards;
          animation: scroll_on2 .75s ease-in-out forwards;
}

@-webkit-keyframes scroll_on2 {
  0% {
    opacity: 0;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scroll_on2 {
  0% {
    opacity: 0;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.scroll_on0 > .instagram_list:nth-child(1) {
  -webkit-animation: scroll_on3 .75s ease-in-out forwards;
          animation: scroll_on3 .75s ease-in-out forwards;
}

.scroll_on0 > .instagram_list:nth-child(2) {
  -webkit-animation: scroll_on3 .75s ease-in-out 125ms forwards;
          animation: scroll_on3 .75s ease-in-out 125ms forwards;
}

.scroll_on0 > .instagram_list:nth-child(3) {
  -webkit-animation: scroll_on3 .75s ease-in-out .25s forwards;
          animation: scroll_on3 .75s ease-in-out .25s forwards;
}

.scroll_on0 > .instagram_list:nth-child(4) {
  -webkit-animation: scroll_on3 .75s ease-in-out 375ms forwards;
          animation: scroll_on3 .75s ease-in-out 375ms forwards;
}

@-webkit-keyframes scroll_on3 {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 25px);
            transform: translate(0, 25px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes scroll_on3 {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 25px);
            transform: translate(0, 25px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

.scroll_off0 {
  -webkit-animation: scroll_off0 .75s ease-in-out forwards;
          animation: scroll_off0 .75s ease-in-out forwards;
}

@-webkit-keyframes scroll_off0 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes scroll_off0 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.scroll_off1 {
  -webkit-animation: scroll_off1 .75s ease-in-out forwards;
          animation: scroll_off1 .75s ease-in-out forwards;
}

@-webkit-keyframes scroll_off1 {
  0% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(0, 25px);
            transform: translate(0, 25px);
  }
}

@keyframes scroll_off1 {
  0% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(0, 25px);
            transform: translate(0, 25px);
  }
}

.scroll_on0 .footer_button div span {
  -webkit-animation: scroll_on0_0 .75s ease-in-out .5s forwards;
          animation: scroll_on0_0 .75s ease-in-out .5s forwards;
}

@-webkit-keyframes scroll_on0_0 {
  0% {
    top: -100%;
  }
  100% {
    top: 0;
  }
}

@keyframes scroll_on0_0 {
  0% {
    top: -100%;
  }
  100% {
    top: 0;
  }
}

.scroll_on0 .footer_button a,
.scroll_on0 .footer_copyright,
.scroll_on0 .footer_logo,
.scroll_on0 .footer_menu {
  -webkit-animation: scroll_on0_1 .5s ease-in-out .75s forwards;
          animation: scroll_on0_1 .5s ease-in-out .75s forwards;
}

@-webkit-keyframes scroll_on0_1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes scroll_on0_1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#header-bar {
  /* padding:10px 0;*/
  position: fixed;
  z-index: 150;
  /*height:25px;*/
  top: 0;
  width: 100%;
  z-index: 10000;
}

.sub-menu {
  display: none;
  position: absolute;
  z-index: 100;
}

.sub-menu li {
  float: none;
  width: 100%;
  padding: 5px 7.619% 0 7.619%;
  margin: 0;
  background: #fff;
  border-bottom: 1px solid #e8e8e8;
}

.sub-menu li:last-child {
  border: none;
}

.sub-menu li a {
  color: #000;
  text-decoration: underline;
  font-size: 14px;
}

.sub-menu li a:hover {
  color: #000;
}

.sub-menu {
  display: none;
  position: absolute;
  z-index: 100;
  width: 10.5%;
}

.accordion_nav .sub-menu li {
  float: none;
  width: 100%;
  padding: 0;
  margin: 0;
  background: #000;
  border-bottom: 1px solid #e8e8e8;
}

.accordion_nav .sub-menu li:last-child {
  border: none;
}

.accordion_nav .sub-menu li a {
  border: none;
  font-size: 14px;
}

.accordion_nav .sub-menu li a:hover {
  border: none;
}

.toggle_nav {
  cursor: pointer;
}

#slide_menu {
  position: fixed;
  /*top: 45px;*/
  left: -280px;
  width: 280px;
  height: 100%;
  z-index: 151;
  background: #333;
  /*
      position: fixed;
      top: 0px;
      width: 180px;
      height: 100%;
      z-index: 151;
      transition: .5s;
      background: #fff;
      */
}

#slide_menu a:hover {
  color: #000;
  background: fff;
  text-decoration: none;
}

#slide_menu ul {
  list-style: none;
  margin: 0;
}

#slide_menu li {
  color: #a3a3a3;
}

#slide_menu li a {
  color: #fff;
  text-decoration: none;
}

#navToggle {
  position: absolute;
  /*bodyに対しての絶対位置指定です*/
  left: 13px;
  top: 300px;
  width: 30px;
  height: 20px;
  z-index: 1000;
  cursor: pointer;
}

#navToggle div {
  position: relative;
}

/*spanの絶対位置指定の親にします*/
#navToggle span {
  display: block;
  position: absolute;
  /*#navToggle div に対して*/
  width: 100%;
  border-bottom: solid 2px #000;
  -webkit-transition: .35s ease-in-out;
  transition: .35s ease-in-out;
}

#navToggle span:nth-child(1) {
  top: 0;
}

#navToggle span:nth-child(2) {
  top: 7px;
}

#navToggle span:nth-child(3) {
  top: 14px;
}

#slide_menu {
  overflow-y: scroll;
}

.sub-menu {
  position: static;
  width: 100%;
}

#slide_menu li a {
  padding: 20px;
  display: block;
}

#slide_menu .sub-menu li {
  font-size: 12px;
  border-bottom: 1px solid #fff;
  width: 100%;
}

#slide_menu .sub-menu li a {
  display: block;
}

#slide_menu .sub-menu li a:hover {
  background: #000;
  color: #fff;
}

#slide_menu .sub-menu li:last-child {
  border-bottom: none;
}

.open #navToggle span:nth-child(1) {
  top: 7px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.open #navToggle span:nth-child(2) {
  opacity: 0;
}

.open #navToggle span:nth-child(3) {
  top: 7px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

#slide_menu .sub-menu li a {
  padding: 10px 0 10px 25px;
  color: #ccc;
}

.sec1 {
  background: #ebe800;
}

.sec2 {
  background: #ebd200;
}

.sec3 {
  background: #eb8a00;
}

.sec4 {
  background: #eb4800;
}

.section h2 {
  color: #fff;
  text-align: center;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#side-bar {
  width: 150px;
}

.fullpage-wrapper {
  width: calc(100% - 150px);
}
/*# sourceMappingURL=style.css.map */